[submodule "Auth"]
	path = Auth
	url = https://github.com/kr1ta/auth_service_laravel

[submodule "TaskHabit"]
	path = TaskHabit
	url = https://github.com/kr1ta/task_service_laravel

[submodule "Statistics"]
	path = Statistics
	url = https://github.com/kr1ta/stat_service_laravel
